<div class="flex justify-center items-center ">
  <div  class="fixed inset-0 px-2 z-10 overflow-hidden flex items-center justify-center">
    <div   class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <!-- ------------------------------------------------------------------------------------------------------------------------------------------ -->
    <div [formGroup] ="formCard" class="bg-white rounded-lg border border-primary-100  max-w-md w-full overflow-hidden z-50" >

      <h2 class="text-2xl font-bold mb-6 pt-8 text-center text-gray-800">Actualizar Card</h2>

      <div class="bg-primary-300 text-white py-1 flex justify-between mt-4 hover:bg-primary-400 active:bg-primary-400">
        <div class="w-10 px-1">
          <svg class="w-12 h-12 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 10h18M6 14h2m3 0h5M3 7v10a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1Z"/>
          </svg>
        </div>
        <div class="w-1">
          <div class="h-full w-0.5 bg-slate-50 my-auto"></div>
        </div>
        @if(!ocultarCampo.nombre){
          <div class="w-5/6 flex items-center pl-2"  (click)="ocultarCampo.nombre= !ocultarCampo.nombre">
            <h2 class="text-sm  font-semibold">{{ formCard.get('nombre')!.value }}</h2>
          </div>
        }@else {
          <div class="w-5/6 flex items-center pr-2">
            <input type="text" class="input-primary" formControlName="nombre"/>
          </div>
        }
      </div>

      <div class="bg-primary-300 text-white py-1 shadow flex justify-between mt-4 hover:bg-primary-400 active:bg-primary-400">
        <div class="w-10 px-1">
          <svg class="w-12 h-11 " xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-tooltip-text-outline" width="24" height="24" viewBox="0 0 24 24">
            <path fill="#FFFFFF" d="M4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H16L12,22L8,18H4A2,2 0 0,1 2,16V4A2,2 0 0,1 4,2M4,4V16H8.83L12,19.17L15.17,16H20V4H4M6,7H18V9H6V7M6,11H16V13H6V11Z" />
          </svg>
        </div>
        <div class="w-1">
          <div class="h-full w-0.5 bg-slate-50 my-auto"></div>
        </div>
        @if(!ocultarCampo.descripcion){
          <div class="w-5/6 flex items-center pl-2" (click)="ocultarCampo.descripcion= !ocultarCampo.descripcion">
            <h2 class="text-sm  font-semibold">{{ formCard.get('descripcion')?.value !== '' ? formCard.get('descripcion')?.value : 'Descripcion' }}</h2>
          </div>
        }@else {
          <div class="w-5/6 flex items-center pr-2">
            <textarea class="h-24 w-full border rounded-xl overflow-hidden resize-none focus:primary-300 ring-1 ring-transparent focus:ring-primary-300 focus:outline-none text-black p-2 transition ease-in-out duration-300"
              placeholder="Escriba aqui descripcion . . ."
              formControlName="descripcion" ></textarea>
          </div>
        }
      </div>

      <div class="bg-primary-300 text-white py-1 shadow flex justify-between mt-4 hover:bg-primary-400 active:bg-primary-400" (click)="ocultarCampo.prioridad = !ocultarCampo.prioridad">
        <div class="w-10 px-1">
          <svg class="w-12 h-11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g id="_x32_8_x2C__Numbered_x2C__priority_x2C__chart_x2C__infographic_x2C__graphic_x2C__analytics">
              <g>
                <g>
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="fill:#ffffff;" d="M412.707,248.239l-70.4-57.2c-2.992-2.434-7.12-2.928-10.604-1.269     c-3.483,1.658-5.702,5.172-5.702,9.029v16.4H138.915c-13.37-20.572-36.537-34.2-62.914-34.2c-41.355,0-75,33.645-75,75     s33.645,75,75,75c25.569,0,49.152-12.965,62.927-34.2h187.073v16.4c0,3.857,2.219,7.371,5.702,9.029     c3.523,1.676,7.645,1.137,10.604-1.269l70.4-57.2C417.625,259.766,417.635,252.242,412.707,248.239z M76.001,311     c-30.327,0-55-24.673-55-55s24.673-55,55-55c30.684,0,55.017,24.904,54.997,55.034C130.977,286.511,106.233,311,76.001,311z      M346.001,292.19V286.8c0-5.522-4.478-10-10-10H148.059c1.939-6.736,2.942-13.75,2.942-20.8c0-7.219-1.042-14.192-2.947-20.8     h187.947c5.522,0,10-4.478,10-10v-5.391L390.543,256L346.001,292.19z"/>
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="fill:#ffffff;" d="M507.307,68.239l-70.4-57.2c-2.992-2.433-7.119-2.927-10.604-1.269     c-3.483,1.658-5.702,5.172-5.702,9.029v16.4H138.928C125.154,13.965,101.57,1,76.001,1c-41.355,0-75,33.645-75,75     s33.645,75,75,75c25.569,0,49.152-12.965,62.927-34.2h281.673v16.4c0,3.857,2.219,7.371,5.702,9.029     c3.523,1.676,7.645,1.137,10.604-1.269l70.4-57.2C512.225,79.766,512.234,72.242,507.307,68.239z M76.001,131     c-30.327,0-55-24.673-55-55s24.673-55,55-55c30.21,0,54.999,24.487,54.997,55C130.996,106.602,106.131,131,76.001,131z      M440.601,112.19V106.8c0-5.522-4.478-10-10-10H148.065c3.938-13.67,3.873-28.128-0.003-41.6h282.539c5.522,0,10-4.478,10-10     V39.81L485.143,76L440.601,112.19z"/>
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="fill:#ffffff;" d="M322.307,428.239l-70.4-57.2c-2.993-2.434-7.117-2.927-10.604-1.269     c-3.483,1.658-5.702,5.172-5.702,9.029v16.4h-96.686c-13.37-20.572-36.537-34.2-62.914-34.2c-41.355,0-75,33.645-75,75     s33.645,75,75,75c25.569,0,49.152-12.965,62.927-34.2h96.673v16.4c0,3.857,2.219,7.371,5.702,9.029     c3.523,1.676,7.645,1.137,10.604-1.269l70.4-57.2C327.225,439.766,327.234,432.242,322.307,428.239z M76.001,491     c-30.327,0-55-24.673-55-55s24.673-55,55-55c30.21,0,54.999,24.487,54.997,55C130.996,466.602,106.131,491,76.001,491z      M255.601,472.19V466.8c0-5.522-4.478-10-10-10h-97.542c3.844-13.356,4.002-27.703-0.005-41.6h97.546c5.522,0,10-4.478,10-10     v-5.391L300.143,436L255.601,472.19z"/>
                </g>
              </g>
            </g>
            <g id="Layer_1"/>
          </svg>
        </div>
        <div class="w-1">
          <div class="h-full w-0.5 bg-slate-50 my-auto"></div>
        </div>
        <div class="w-5/6 flex items-center pr-2" >
          <input type="text" class="flex-1 bg-transparent border-none outline-none text-white placeholder-white pl-2" formControlName="prioridad" readonly/>
        </div>
      </div>

      <div class="px-32">
      @if(ocultarCampo.prioridad){
        <div class="flex flex-col">
          <!-- <input type="text" class="input-primary" name="nomLista" id="nomLista" formControlName="prioridad" readonly /> -->
          <div class="flex justify-between">
            <div [ngClass]="{
              'border-primary-500 bg-danger-500 text-white': formCard.get('prioridad')!.value === 'Alta',
            }" class="mt-[14px] cursor-pointer truncate rounded-[4px] border border-[#E7EAEE] p-3 hover:border-primary-500 hover:bg-danger-500  text-gray-700"
            (click)="formCard.get('prioridad')!.setValue('Alta')">Alta</div>

            <div [ngClass]="{
              'border-primary-500 bg-warning-500 text-white': formCard.get('prioridad')!.value === 'Media',
            }" class="mt-[14px] cursor-pointer truncate rounded-[4px] border border-[#E7EAEE] p-3 hover:border-primary-500 hover:bg-warning-500 text-gray-700"
            (click)="formCard.get('prioridad')!.setValue('Media')">Media</div>

            <div [ngClass]="{
              'border-primary-500 bg-success-500 text-white': formCard.get('prioridad')!.value === 'Baja',
            }" class="mt-[14px] cursor-pointer truncate rounded-[4px] border border-[#E7EAEE] p-3 hover:border-primary-500 hover:bg-success-500 text-gray-700"
            (click)="formCard.get('prioridad')!.setValue('Baja')">Baja</div>
          </div>
        </div>
      }
    </div>

      <div class="px-20">
        <button class="bg-primary-300 text-white rounded-full w-full py-2 hover:bg-primary-500 mb-1 mt-12" (click)="updateCard()"> Aceptar </button>
        <button class="bg-primary-300 text-white rounded-full w-full py-2 hover:bg-primary-500 mt-1 mb-2" (click)="cerrarModal(false)"> Cancelar </button>
      </div>

      <div class="flex justify-start px-4 pb-4 pt-1" (click)="deleteCard()">
        <button type="button" class="ml-0 text-gray-500 hover:text-gray-700 hover:scale-125" >
          <svg class="w-6 h-6 text-gray-800 dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
          </svg>
        </button>
      </div>

    </div>
    <!-- ------------------------------------------------------------------------------------------------------------------------------------------ -->
  </div>
</div>



  <!-- vieja version -->


<!-- <div class="flex justify-center items-center ">
  <div  class="fixed inset-0 px-2 z-10 overflow-hidden flex items-center justify-center">
    <div   class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
     <div  [formGroup] ="formCard" class="bg-white rounded-md shadow-xl overflow-hidden max-w-md w-full sm:w-96 md:w-1/2 lg:w-2/3 xl:w-1/3 z-40" >
      <div class="bg-primary-300 text-white px-4 py-2 flex justify-between">
        <h2 class="text-lg font-semibold">Actualizar Card</h2>

        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M6 14h2m3 0h5M3 7v10a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1Z"/>
        </svg>

      </div>
       <div class="w-full max-w-sm mx-auto m-2" >
        <label class="flex items-center text-gray-700">
          <span class="mr-2">Nombre: </span>
          <span [class.hidden]="ocultarCampo.nombre">{{ formCard.get('nombre')!.value }}</span>
            @if(ocultarCampo.nombre){
              <input type="text" class="input-primary"  formControlName="nombre"/>
            }
          <button type="button" class="ml-2 text-gray-500 hover:text-gray-700"  (click)="ocultarCampo.nombre= !ocultarCampo.nombre">
            <svg class="w-6 h-6 text-gray-800 dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"/>
            </svg>
          </button>
        </label>
      </div>

      <div class="w-full max-w-sm mx-auto m-2">
        <label class="flex items-center text-gray-700">
          <span class="mr-2">Prioridad: </span>
          <span [class.hidden]="ocultarCampo.prioridad">{{ formCard.get('prioridad')!.value }}</span>
            @if(ocultarCampo.prioridad){
              <div class="flex flex-col">
                <input type="text" class="input-primary" name="nomLista" id="nomLista" formControlName="prioridad" readonly />
                <div class="flex justify-between">
                  <div [ngClass]="{
                    'border-primary-500 bg-danger-500 text-white': formCard.get('prioridad')!.value === 'Alta',
                  }" class="mt-[14px] cursor-pointer truncate rounded-[4px] border border-[#E7EAEE] p-3 hover:border-primary-500 hover:bg-danger-500  text-gray-700"
                  (click)="formCard.get('prioridad')!.setValue('Alta')">Alta</div>

                  <div [ngClass]="{
                    'border-primary-500 bg-warning-500 text-white': formCard.get('prioridad')!.value === 'Media',
                  }" class="mt-[14px] cursor-pointer truncate rounded-[4px] border border-[#E7EAEE] p-3 hover:border-primary-500 hover:bg-warning-500 text-gray-700"
                  (click)="formCard.get('prioridad')!.setValue('Media')">Media</div>

                  <div [ngClass]="{
                    'border-primary-500 bg-success-500 text-white': formCard.get('prioridad')!.value === 'Baja',
                  }" class="mt-[14px] cursor-pointer truncate rounded-[4px] border border-[#E7EAEE] p-3 hover:border-primary-500 hover:bg-success-500 text-gray-700"
                  (click)="formCard.get('prioridad')!.setValue('Baja')">Baja</div>
                </div>
              </div>
            }
          <button type="button" class="ml-2 text-gray-500 hover:text-gray-700" (click)="ocultarCampo.prioridad = !ocultarCampo.prioridad">
            <svg class="w-6 h-6 text-gray-800 dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"/>
            </svg>
          </button>
        </label>
      </div>


      <div class="w-full max-w-sm mx-auto m-2">
        <label class="flex items-center text-gray-700">
          <span class="mr-2">Descripcion: </span>
          <span [class.hidden]="ocultarCampo.descripcion">{{ formCard.get('descripcion')?.value }}</span>
          @if(ocultarCampo.descripcion){
            <textarea class="h-24 w-full border rounded-xl overflow-hidden resize-none focus:primary-300 ring-1 ring-transparent focus:ring-primary-300 focus:outline-none text-black p-2 transition ease-in-out duration-300"
              placeholder="Escriba aqui descripcion . . ."
              formControlName="descripcion" ></textarea>
            }
          <button type="button" class="ml-2 text-gray-800 hover:text-gray-700" (click)="ocultarCampo.descripcion= !ocultarCampo.descripcion">
            <svg class="w-6 h-6 text-gray-800 dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"/>
            </svg>
          </button>
        </label>
      </div>

      <div class="border-t px-4 py-2 flex justify-end items-baseline">
        <div class="flex items-center">
          <button type="button" class="ml-0 text-gray-500 hover:text-gray-700 hover:scale-125" (click)="deleteCard()">
            <svg class="w-6 h-6 text-gray-800 dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
            </svg>
          </button>
        </div>
        <div class="flex items-center ml-auto">
          <button class="btn-primary mr-2" (click)="cerrarModal(false)"> Cancelar </button>
          <button class="btn-primary"   (click)="updateCard()" > Accept </button>
        </div>
      </div>
    </div>
  </div>
</div> -->


