/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.spacer {
  flex: 1 1 auto;
}

.card-custom{

}

.btn-custom{
  background-color: rgba(200, 84, 16, 0.122);
  @apply hover:bg-blue-700 text-white font-bold py-4 px-4
    rounded-full shadow-lg
    border-solid border border-slate-950
}

.btn-primary{
  @apply px-3 py-1 bg-primary-300 text-white  rounded-md sm:w-auto hover:bg-primary-500
}

.btn-secondary{
  @apply px-3 py-1 bg-secondary-300 text-white  rounded-md sm:w-auto hover:bg-secondary-500
}

.input-primary{
  @apply  w-full border rounded-xl overflow-hidden resize-none  ring-1 ring-transparent focus:ring-primary-300 focus:outline-none text-black p-2 transition ease-in-out duration-300
}
/*
 w-full
  border
  rounded-xl
  overflow-hidden
  resize-none
  ring-1
  ring-transparent
  focus:ring-primary-300
  focus:outline-none
  text-black p-2
  transition
  ease-in-out
  duration-300

  focus:primary-300
*/
